@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.Mabout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400vh;
    height: 398vh;
    align-items: center;
    overflow: none;
}

@media only screen and (max-width: 750px) {
    .Mabout {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400vh;
        height: 398vh;
        height: auto;
        align-items: center;
        overflow: none;
    }
}

.heading {
    /* height: auto; */
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.heading .sub1 {
    margin: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

.heading .sub1>h1 {
    font-size: 80px;
}

.heading .sub1>h1>span {
    color: white;
    font-size: 80px;
    text-shadow: -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0);
}

.heading .sub1 .Pixels {
    color: white;
    /* color: rgb(0, 0, 0); */
    font-size: 80px;
    text-shadow: -2px 2px 0 rgb(32, 182, 154), 2px 2px 0 rgb(32, 182, 154), 2px -2px 0 rgb(32, 182, 154), -2px -2px 0 rgb(32, 182, 154);
}

.heading .sub2 {
    width: 60%;
    margin: 20px;
}

@media only screen and (max-width: 750px) {
    .heading .sub1>h1 {
        font-size: 50px;
        margin: 30px;
    }
    .heading .sub1>h1 {
        font-size: 60px;
    }
    .heading .sub1>h1>span {
        color: white;
        font-size: 60px;
        text-shadow: -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0);
    }
    .heading .sub1 .Pixels {
        color: white;
        /* color: rgb(0, 0, 0); */
        font-size: 60px;
        text-shadow: -2px 2px 0 rgb(32, 182, 154), 2px 2px 0 rgb(32, 182, 154), 2px -2px 0 rgb(32, 182, 154), -2px -2px 0 rgb(32, 182, 154);
    }
    .heading {
        /* height: auto; */
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading .sub1 {
        /* margin: 20px; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        /* background-color: red; */
    }
}

/* ------------- section 2 ------------------------- */

.Card {
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.Card_sub1 {
    height: 50vh;
    width: 100%;
    display: flex;
}

.CardBox {
    height: 50vh;
    width: 100%;
    padding: 20px;
}

.CardBox>h1, p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.CardBox>h1 {
    font-size: 45px;
    line-height: 40.5px;
    word-spacing: 4px;
    padding: 10px 0px;
    font-weight: 300;
}

.CardBox:hover {
    color: rgb(32, 182, 154);
    color: white;
    background-color: #c4c4c4;
    background-color: black;
    background-color: rgb(51, 51, 51);
}

.CardBox:hover>h1 {
    color: rgb(32, 182, 154);
    /* background-color: black; */
}

.CardBox:hover>h1 {
    color: rgb(255, 255, 255);
    /* background-color: black; */
}

.CardBox>p {
    font-size: 20px;
    word-spacing: 2px;
    padding: 10px 0px;
    /* background-color: white; */
}

.Card_sub2 {
    height: 50vh;
    width: 100%;
    display: flex;
}

/* --------------------resopnsive of section 2 -------------*/

@media only screen and (max-width: 750px) {
    .Card {
        height: auto;
        width: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .Card_sub1 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .CardBox {
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .CardBox>h1, p {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .CardBox>h1 {
        font-size: 45px;
        line-height: 40.5px;
        word-spacing: 4px;
        padding: 10px 0px;
        font-weight: 300;
    }
    .CardBox:hover {
        color: white;
        color: rgb(32, 182, 154);
        background-color: black;
        /* background-color: #c4c4c4; */
    }
    .CardBox:hover>h1 {
        color: rgb(32, 182, 154);
        /* background-color: black; */
    }
    .CardBox:hover>h1 {
        color: rgb(255, 255, 255);
        /* background-color: black; */
    }
    .CardBox>p {
        font-size: 20px;
        word-spacing: 2px;
        padding: 10px 0px;
        /* background-color: white; */
    }
    .Card_sub2 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* -----------------------  Section 3333  ---------------------- */

.section3 {
    /* height: auto; */
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.section3 .sub1 {
    /* height: auto; */
    width: 50%;
    height: 70vh;
    display: flex;
    /* background-color: seagreen; */
    /* background-color: rgb(32, 182, 154); */
    align-items: center;
    justify-content: center;
}

.section3 .sub1>h1 {
    font-size: 60px;
    color: white;
    font-weight: 600;
}

.section3 .sub1>img {
    height: 500px;
    /* width: 500px; */
    width: 100%;
}

.section3 .sub2 {
    /* height: auto; */
    width: 50%;
    height: 70vh;
    /* background-color: #c4c4c4; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.section3 .sub2 .sub2__1 {
    padding: 10px 40px;
}

.section3 .sub2>h1 {
    padding: 5px 40px;
    font-size: 40px;
    font-weight: 400;
}

.section3 .sub2 .sub2__1>ol>li {
    padding: 5px 5px;
    word-spacing: 2px;
    font-size: 17px;
}

/* --------------- Responsive of section 3 -------------- */

@media only screen and (max-width: 750px) {
    .section3 {
        height: 70vh;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section3 .sub1 {
        width: 100%;
        height: auto;
        height: 70vh;
        display: flex;
        background-color: seagreen;
            background-color: rgb(32, 182, 154);
        align-items: center;
        justify-content: center;
    }
    .section3 .sub1>h1 {
        font-size: 60px;
        color: white;
        font-weight: 600;
    }
    .section3 .sub1>img {
        height: 500px;
        /* width: 500px; */
        width: 100%;
    }
    .section3 .sub2 {
        width: 100%;
        height: 70vh;
        height: auto;
        background-color: blanchedalmond;
        background-color: #c4c4c4;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
    }
    .section3 .sub2 .sub2__1 {
        padding: 10px 40px;
    }
    .section3 .sub2>h1 {
        padding: 5px 40px;
        font-size: 40px;
        font-weight: 400;
    }
    .section3 .sub2 .sub2__1>ol>li {
        padding: 5px 5px;
        word-spacing: 2px;
        font-size: 17px;
    }
}

/* -----------------------  Section 4444  ---------------------- */

.Mabout .section4 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 196, 255);
    background-color: #c4c4c4;
    background-color: white;
}

.section4 .sub1 {
    font-size: 30px;
    margin: 20px auto;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.section4 .sub1>h2 {
    color: rgb(0, 0, 0);
}

.section4 .sub2 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4 .sub2 .sub2__1 {
    /* height: 20vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4 .sub2 .sub2__2 {
    display: flex;
}

.section4 .sub2 .sub2__1 .sub2Icon, .section4 .sub2 .sub2__2 .sub2Icon {
    height: 200px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: lightslategrey; */
    margin: 0 10px;
    padding: 10px;
}

.sub2Icon .material-Icon {
    font-size: 45px;
    font-size: 55px;
    color: rgb(255, 238, 0);
    color: rgb(0, 165, 69);
    color: seagreen;
    color: rgb(32, 182, 154);
    margin: 10px;
}

.section4 .sub2 .sub2__1, .sub2__2 .sub2Icon>h3 {
    color: #575757;
    color: rgb(0, 0, 0);
}

/* ---------------responsive of section 4444 */

@media only screen and (max-width: 750px) {
    .Mabout .section4 {
        height: 100vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(129, 196, 255);
        background-color: #c4c4c4;
        background-color: white;
    }
    .section4 .sub1 {
        height: 10vh;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        font-size: 30px;
        /* background-color: brown; */
    }
    .section4 .sub1>h2 {
        margin: 20px 0;
        color: rgb(0, 0, 0);
    }
    .section4 .sub2 {
        height: 70vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section4 .sub2 .sub2__1 {
        /* height: 20vh; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section4 .sub2 .sub2__2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section4 .sub2 .sub2__1 .sub2Icon, .section4 .sub2 .sub2__2 .sub2Icon {
        height: 200px;
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: lightslategrey; */
        margin: 0 10px;
        padding: 10px;
    }
    .sub2Icon .material-Icon {
        font-size: 45px;
        font-size: 55px;
        color: rgb(255, 238, 0);
        color: rgb(32, 182, 154);
        color: seagreen;
        color: rgb(0, 165, 69);
        margin: 10px;
    }
    .section4 .sub2 .sub2__1, .sub2__2 .sub2Icon>h3 {
        color: #575757;
        color: rgb(0, 0, 0);
        margin: 10px;
    }
}