


.Mservice{
    height: 260vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(19, 95, 91); */
    margin-top: 70px;
}

@media only screen and (max-width: 750px) {
    .Mservice{
        height: 300vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
}

/* ------------------ section 111 ------------------------ */

.Osection1{
    height: 250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.Osection1 .sub1 > h1{
    font-size: 90px;
    font-weight: 600;
    padding: 20px;
    padding-left: 120px;
    font-family: var(--h1-style);
}

.Osection1 .sub2{
    /* height: 100vh; */
    /* width: 400px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Osection1 .sub2 .Ocard{
    height: 85vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(92, 92, 92, 0.356);
    margin: 25px;
}

.Osection1 .sub2 .Ocard .card1 {
    height: 40vh;
    width: 100%;
}


.Osection1 .sub2 .Ocard .card1 > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* width: 400px; */
    padding: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.Osection1 .sub2 .Ocard .card2 {
    height: 55vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Osection1 .sub2 .Ocard .card2 > h2{
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    font-family: var(--h1-style);
}

.Osection1 .sub2 .Ocard .card2 > p{
    font-size: 20px;
    /* font-weight: 300; */
    line-height: 25px;
    padding-top: 15px;
    font-family: var(--p-style);
    font-size: var(--p-size);
}

/* -----------responsive section 1 --------- */

@media only screen and (max-width: 750px) {
    .Osection1{
        height: 350vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    
    .Osection1 .sub1 > h1{
        font-size: 80px;
        font-weight: 600;
        padding: 20px;
        padding-left: 30px;
        font-size: 60px;
    }
    
    .Osection1 .sub2{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .Osection1 .sub2 .Ocard{
        height: 75vh;
        height: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        /* background-color: pink; */
        border-radius: 25px;
        box-shadow: 0 0 15px rgba(92, 92, 92, 0.356);
        margin: 20px;
    }
    
    .Osection1 .sub2 .Ocard .card1 {
        height: 35vh;
        width: 100%;
    }
    
    
    .Osection1 .sub2 .Ocard .card1 > img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .Osection1 .sub2 .Ocard .card2 {
        height: 40vh;
        height: auto;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        justify-content: center;
    }
    
    .Osection1 .sub2 .Ocard .card2 > h2{
        font-size: 35px;
        font-size: 30px;
        font-weight: 300;
        line-height: 45px;
        /* font-size: var(--h1--size); */
    }
    
    .Osection1 .sub2 .Ocard .card2 > p{
        font-size: 20px;
        /* font-weight: 300; */
        line-height: 25px;
        padding-top: 15px;
        font-size: var(--p-size);
    }
}