@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
}

/* -------------- MNavbar -------------- */

/* .Mnavbar__contact{
    border: 2px solid black;
    color: black;
    border-radius: none;
    transition: 1s;
    background-color: none;
} */

/* .Mnavbar__contact:hover{
    border: 2px solid black;
    color: white;
    background-color: black;
    background: black;
} */

/* ------------------------------------- */

.nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(92, 92, 92, 0.349);
    position: fixed;
}

.nav__white{
    display: none;
    /* visibility: none; */
    background-color: red;
    transition-delay: 1s;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{
    background-color: black;
}

.nav__logo{
    width: 60px;
    margin: 4px 4px 0 12px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
    transition: .4s;
    border: 2px solid rgb(32, 182, 154);
}

.nav__logo:hover{
    border-radius: 30%;
}

#nav__links{
    /* padding-right: 50px; */
}

.nav__links > a{
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    transition: .4s;
}

.nav__contact__link > a{
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    transition: .4s;   
}

.nav__contact__link > a:hover{
    color: #F7A440;
    color: rgb(32, 182, 154);
}

.nav__links > a:hover{
    color: greenyellow;
    color: #F7A440;
    color: rgb(32, 182, 154);
    /* border-bottom: 1px solid black; */
    /* text-decoration: underline overline wavy blue; */
    /* text-decoration: underline; */
}

.nav__contact{
    border: 2px solid black;
    transition: 0.5s;
    /* border-radius: 2px; */
}

.nav__contact:hover{
    background-color: black;
    color: white;
}

.navR{
    color: tomato;
    height: 50px;
    width: 50px;
    margin: 4px 0 -12px;
    z-index: 1000;
    color: black;
}

.nav__rotate{
    animation: 1s forwards;
}






